extends layout

block content
  h1= title
  p Welcome to #{title}
  if msg
    if msg.cerpadlo
      p Čerpadlo zapnuté
    else 
      p Čerpadlo vypnuté
    p Spaliny: #{msg.spaliny}°C
  else 
    p Čakám na dáta
